API_HOST=0.0.0.0
API_PORT=8000

API_KEY=8f4c7e2a91d63b5f0c8a17e94d2f6b31a5e0c7d9f2b84a16c3e7f90b5d1a6c42

POSTGRES_DB=payment_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=rabbitmq_password